# Download data

Thisis a prerequisite to the subsequent labs. In this Notebook, we download the [Census dataset](https://archive.ics.uci.edu/ml/datasets/adult) to your local directory or a Cloud Storage location.

In [5]:
import os
from tensorflow.io import gfile

In [4]:
WORKSPACE = '/workspace' # you can set to a GCS location
DATA_DIR = os.path.join(WORKSPACE, 'raw_data')

### 1. Create workspace and download data

In [14]:
if gfile.exists(WORKSPACE):
    print("Removing previous workspace...")
    gfile.rmtree(WORKSPACE)

print("Creating new workspace...")
gfile.mkdir(WORKSPACE)
print("Creating data directory...")
gfile.mkdir(DATA_DIR)

TRAIN_DATA_FILE = os.path.join(DATA_DIR,'train.csv')
EVAL_DATA_FILE = os.path.join(DATA_DIR,'eval.csv')

print("Downloading raw data...")
gfile.copy(src='gs://cloud-samples-data/ml-engine/census/data/adult.data.csv', dst=TRAIN_DATA_FILE)
gfile.copy(src='gs://cloud-samples-data/ml-engine/census/data/adult.test.csv', dst=EVAL_DATA_FILE)
print("Data downloaded.")

Removing previous workspace...
Creating new workspace...
Creating data directory...
Downloading raw data...
Data downloaded.

In [16]:
!wc -l $TRAIN_DATA_FILE
!wc -l $EVAL_DATA_FILE

32561 workspace/raw_data/train.csv
16278 workspace/raw_data/eval.csv

### 2. Show sample data

In [20]:
import pandas as pd

HEADER = ['age', 'workclass', 'fnlwgt', 'education', 'education_num',
               'marital_status', 'occupation', 'relationship', 'race', 'gender',
               'capital_gain', 'capital_loss', 'hours_per_week',
               'native_country', 'income_bracket']

pd.read_csv(TRAIN_DATA_FILE, names=HEADER).head().T

,0,1,2,3,4
age,39,50,38,53,28
workclass,State-gov,Self-emp-not-inc,Private,Private,Private
fnlwgt,77516,83311,215646,234721,338409
education,Bachelors,Bachelors,HS-grad,11th,Bachelors
education_num,13,13,9,7,13
marital_status,Never-married,Married-civ-spouse,Divorced,Married-civ-spouse,Married-civ-spouse
occupation,Adm-clerical,Exec-managerial,Handlers-cleaners,Handlers-cleaners,Prof-specialty
relationship,Not-in-family,Husband,Not-in-family,Husband,Wife
race,White,White,White,Black,Black
gender,Male,Male,Male,Male,Female
capital_gain,2174,0,0,0,0
capital_loss,0,0,0,0,0
hours_per_week,40,13,40,40,40
native_country,United-States,United-States,United-States,United-States,Cuba
income_bracket,<=50K,<=50K,<=50K,<=50K,<=50K